<div class="content_header">
	<h2>Contact Us</h2>
</div>
<div class="content_body">
	<p>Address: 6340 W. 56th Avenue unit 8
		 Arvada CO 80002</p>

	<p>Phone: 720-624-9341</p>

	<p>Hours of Operation: Monday-Friday     7am - 4pm     (24/7 service available for rush projects)</p>

	<p>Please Call ahead as we may be out of the shop or in the field installing</p>
</div>