<div class="content_header">
	<h2>Welcome to Metalithic Ironworks LLC</h2>
</div>
<div class="content_body">
	<p>At Metalithic Ironworks our goal is to provide you with Quick, Professional and Outstanding Quality. We offer MIG, TIG, Flux Core, and Dual Shield Welding and Metal Fabrication with Aluminum, Steel, Stainless Steel and Wrought Iron.</p>
	<p>For Residential and Commercial customers we specialize in Ornamental Ironworks, such as: Gates, Railings, Fences, Fire Pits, Handrails, Fireplace Screens, Deck railing, Custom Furniture, Bed Frames, Architectural Pieces, Wine Cellar Doors, Entry and Interior Doors.</p>
	<p>For Contractors and Builders we offer Industrial Fabrication of: Knee Walls, Awnings, Beams, Headers, Joists, Sign Frames, Trash and Cigarette Receptacles, Bulk Orders and Wholesale pricing available. We have the ability to fabricate whatever the job calls for and will have it ready on time and in accordance with building plans and applicable codes.</p>
	<p>For Automotive Enthusiasts: Roll Cages, Strut and Sway Bars, Custom Axle Housings, Suspension set-ups, "Back Halving", Rock Skidders, Headache Racks, Roof Racks, Ladder Racks, Tire Carriers, Skid Plates, just about anything. We have created 2000 HP, Big Block, $500,000 Race Vehicles... Nothing is beyond our ability!</p>
</div>
<div class="photo_body">
	<h2>Photos will go here.</h2>
</div>