<% provide(:title, data.page_name.capitalize) %>
<div class="content_header">
	<h2><%= data.title %></h2>
</div>
<div class="content_body">
	<%= data.rendered_text.html_safe %>
	<% if logged_in? %>
		<p><%= link_to "Edit this page", edit_url(page: data.page_name) %></p>
	<% end %>
</div>
<div class="photo_body">
	<% if !data.images.empty? %>
		<div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
		    <!-- Slides Container -->
		    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
		    </div>
		</div>
	<% end %>
	<%= data.page_name %>
</div>