<div class="content_header">
	<h2><%= data.title %></h2>
</div>
<div class="content_body">
	<%= data.rendered_text %>
</div>
<div class="photo_body">
	<h2>Photos will go here.</h2>
	<%= data.page_name %>
</div>