<div id="header">
	<div id="image">
		<a href="/" id="logo_link">
			<%= image_tag("metalithic_transparent.png", {id:"logo_image"}) %>
		</a>
	</div>
	<div id="navbar">
		<ul>
			<% @pages.each do |i| %>
				<li><%= link_to i.page_name.capitalize, "/#{i.page_name}" %></li>
			<% end %>
		</ul>
	</div>
</div>