/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$accent: #FFFFFF;
$standard: #000000;

body {
	margin:0;
	// background-color:black;
	// color:white;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	font-weight:none;
}

.title {
	// color: $accent;
}

p, span {
	// color: $standard
}

#main_wrapper {
	width:80%;
	margin:auto;
	// box-shadow: 0px 1px 20px 10px rgba(125,10,10,0.2);
}

#header, #main_body {
	width:100%;
	margin:auto;
}

#header {
	// text-align: center;
	border:1px solid black;
	border-top:none;
	border-bottom:none;
	#image {
		// background-image: image-url("bkg.png");
		background-repeat: repeat;
		text-align: center;
	}
	#navbar {
		border-top: 1px solid black;
		ul {
			list-style-type: none;
			margin:auto;
			padding:0;
			text-align: center;
			li {
				display:inline-block;
				padding:5px 5px;
				margin:0;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: inherit;
					font-family: "Copperplate Gothic Bold", serif;
					font-size: 15pt;
				}
				a:hover {
					color: red;
				}
			}
		}
	}
}



#main_body {
	border:1px solid black;
	// background-color:#666;
}

#footer {
	width:100%;
	bottom:0px;
	border-top:1px solid black;
	margin-top:10px;
	text-align:center;
	background-color: white;
	span {
		float: right;
		padding:0px 5px;
		margin:0px 5px;
	}
}