// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content_header {
	margin:5px 0px;
	h1,h2,h3,h4,h5 {
		text-align: center;
	}
}
.content_body, .album_body {
	margin:5px;
	padding:5px;
	p {
		font-size:13pt;
	}
}

.album_listing {
	margin:20px;
	padding:5px;
	display:inline-block;
	p {
		font-size:13pt;
	}
}